.messageBoardSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}
.messageBoard {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.messageBoardHeading {
  font-family: "Lilita One";
}
.refreshButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  gap: 15px;
}