/* Layout.module.css */
.layoutRoot {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.layoutContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
