@import "../../index.css";
.btn {
  font-size: 1.3rem;
  font-family: "Lilita One";
  padding: 8px 40px;
  border-radius: 10px;
  border: 2px solid var(--color-secondary);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  transition: 0.2s ease-in-out;
}
.btn:active {
  transform: translate(0, 2px);
}
.Primary {
  background-color: var(--color-secondary);
  color: white;
}
.Primary:hover {
  background-color: hsl(274, 97%, 37%);
  border-color: hsl(274, 97%, 37%);
}
.Secondary {
  background-color: transparent;
  color: var(--color-secondary);
}
.Secondary:hover {
}
