.navBar {
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: end;
  position: relative;
}
.navBarHome {
  background-color: transparent;
}
.navBarRegular {
  background-color: white;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}
.LoggedOut {
}
.LoggedIn {
}
.navigationLinks {
  align-items: center;
  justify-self: center;
  color: var(--color-primary);
  display: flex;
  font-family: "Lilita One";
  gap: 40px;
  list-style: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navigationLinks {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}
