.hero {
  background-color: transparent ; 
  position: relative;
  padding: 40px 0;
  padding-top: 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 80px;
  padding: 80px 100px;
  padding-bottom: 80px;
  margin-bottom: 100px;
}
.hero__text {
  font-family: "lilita one";
  color: var(--black);
  width: 800px;
  align-self: center;
  padding: 40px 0 20px 0;
}
.hero__text h1 {
  font-size: 5rem;
  margin-bottom: 2.5rem;
}
.heroKeyWord {
  background: linear-gradient(135deg, rgb(214, 158, 4) 0%, rgb(252, 216, 15));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__text h2 {
  padding-right: 30px;
  font-size: 2rem;
  font-family: "Poppins";
}
.hero__img {
  width: 750px;
  overflow: hidden;
}

.readMore {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 70%;
  font-family: "Lilita One";
  font-size: 2.5rem;
  color: var(--color-secondary);
  cursor: pointer;
  text-decoration: none;
}
.readMore h3 {
  font-size: 2.5rem;
}
.readMoreCaret {
  animation: springy;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.devider {
  width: 40%;
  border-radius: 50px;
  margin: 10px auto;
  background-color: var(--color-secondary);
}

@keyframes springy {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
